.appointment-type-container {
    text-align: center;

    h2 {
        font-size: 1.2rem;
        color: #48505c;
        margin-bottom: 1rem;
    }

    .appointment-type-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;

        ion-button {
            border-radius: 4px;

            &.active {
                background-color: #47a5de;
                color: white;
            }
        }
    }

    .booking-method {
        margin-top: 1rem;

        label {
            font-weight: bold;
            color: #212e3e;
        }

        ion-select {
            width: 100%;
        }
    }
}