<div class="card">
  <div class="card-body">
    <!-- Mensagem de carregamento -->
    <div *ngIf="loadingTimes" class="text-center">Carregando horários...</div>

    <!-- Exibição de horários -->
    <div *ngIf="!loadingTimes && availableTimes.length > 0">
      <h5 class="mb-3 text-center">{{ doctorName }} - {{ date }}</h5>
      <div class="d-flex flex-wrap gap-2 justify-content-center">
        <button *ngFor="let time of availableTimes" class="btn btn-outline-primary" (click)="updateDetails(time)">
          {{ time }}
        </button>
      </div>
    </div>

    <!-- Mensagem caso não existam horários -->
    <div *ngIf="!loadingTimes && availableTimes.length === 0" class="text-center">
      Nenhum horário disponível.
    </div>
  </div>
</div>