<div class="d-flex flex-column">
  <!-- Campo de Busca -->
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search doctor..." />
  </div>

  <!-- Lista de Médicos -->
  <div class="btn-group btn-group-toggle mb-3 d-flex" data-toggle="buttons">
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option1" (click)="onDoctorSelect('Dr. Angela Smith')"> Dr. Angela Smith
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option2" (click)="onDoctorSelect('Dr. Michael Johnson')"> Dr. Michael
      Johnson
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" name="options" id="option3" (click)="onDoctorSelect('Dr. Emily Davis')"> Dr. Emily Davis
    </label>
  </div>
</div>