<div class="container my-4">
  <h1 class="text-primary text-center">Marcação de Consulta</h1>

  <div class="card p-3 mb-4">
    <h4>Selecione o tipo de agendamento:</h4>
    <app-select-appointment (doctorSelected)="onDoctorSelected($event)"></app-select-appointment>
  </div>

  <div class="card p-3 mb-4">
    <h4>Selecione uma Data:</h4>
    <app-date-picker [availableDates]="availableDates" (dateSelected)="onDateSelected($event)"></app-date-picker>
  </div>

  <div class="card p-3 mb-4">
    <h4>Selecione o horário:</h4>
    <app-schedule-details [doctorName]="selectedDoctor" [date]="selectedDate"
      (detailsUpdated)="onDetailsUpdated($event)"></app-schedule-details>
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-danger">Cancelar</button>
    <button class="btn btn-success" (click)="confirmAppointment()">Confirmar</button>
  </div>
</div>