<div class="home-page d-flex flex-column">
  <!-- Header -->
  <app-header></app-header>

  <!-- Conteúdo Principal -->
  <div class="content flex-grow-1">
    <!-- Próximos Agendamentos -->
    <app-schedule-appointment></app-schedule-appointment>
  </div>

  <!-- Acesso Rápido -->
  <div class="quick-access-buttons">
    <button class="btn btn-success d-flex align-items-center justify-content-center">
      <i class="bi bi-calendar-plus"></i>
      <span class="button-text">Agendar Consulta</span>
    </button>
    <button class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="bi bi-file-earmark-text"></i>
      <span class="button-text">Ver Exames</span>
    </button>
    <button class="btn btn-secondary d-flex align-items-center justify-content-center">
      <i class="bi bi-person-lines-fill"></i>
      <span class="button-text">Atualizar Dados</span>
    </button>
  </div>

  <!-- Footer -->
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>