.appointments-page {
    /* Centralizar conteúdo */
    max-width: 720px;
    margin: auto;
    font-family: 'Roboto', sans-serif;

    /* Título */
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    /* Lista de agendamentos */
    .appointments-list {
        .card {
            border: 1px solid #dee2e6;
            border-radius: 8px;

            .card-body {
                display: flex;
                align-items: flex-start;

                img {
                    object-fit: cover;
                    border: 1px solid #dee2e6;
                }

                .details {
                    h5 {
                        font-size: 1.125rem;
                        font-weight: 600;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

    /* Estilo para "sem agendamentos" */
    .no-appointments {
        background-color: #f8f9fa;
        border: 1px solid #e3e6ea;
        border-radius: 8px;
        padding: 20px;

        i {
            font-size: 3.5rem;
            color: #007bff;
            /* Azul bem claro */
        }

        p {
            margin-top: 1rem;
            color: #007bff;
            /* Azul bem claro */
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    /* Responsividade */
    @media (min-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        .appointments-list .card .details h5 {
            font-size: 1.25rem;
        }

        .no-appointments {
            padding: 30px;

            i {
                font-size: 4rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}